.fieldList{
    min-height: 410px !important;
    height:420px;
    max-height:480px !important;
    overflow-y: auto;
    scroll-behavior: smooth;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
    margin-bottom: 10px;
    }
    .fieldList::-webkit-scrollbar {
        display: none; 
}
.fieldclass{
    border: 2px;
    border-style: groove;
}
.btnstyle{
    margin-top:40px;
}